.header-style {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
}
.header-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.header-left-container {
    display: flex;
    align-items: center;
    flex: 1 100%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
}
.header-menu-container {
    display: flex;
    align-items: center;
}
.header-menu-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header-menu-container li {
    display: inline;
    padding: 20px;
    text-transform: uppercase;
}